@rendermode InteractiveWebAssembly

<div class="card">

    @if (IsImage)
    {
        /* TODO: preview popup */
        <a href="@DownloadUrl" target="_blank">
            <img
                src="@DownloadUrl"
                alt="@FileData.Name - preview"
                class="card-img-top"
                height="180"
            >
        </a>
    }

    <div class="card-body">
        <a href="@DownloadUrl" target="_blank">
            <hxCardTitle>
                @FileData.Name
            </hxCardTitle>
        </a>

        <div class="d-flex justify-content-between align-items-center gap-2">
            <i>123 bytes</i>
            <div>
                @ButtonContent
            </div>
        </div>
    </div>

</div>

@code {

    [Parameter]
    public required SubmissionFileData FileData { get; set; }

    [Parameter]
    public string? NewFileToken { get; set; }

    [Parameter]
    public Guid? SubmissionId { get; set; }

    [Parameter]
    public RenderFragment? ButtonContent { get; set; }

    private bool IsImage
    {
        get
        {
            string[] parts = FileData.Name.Split('.');
            if (parts.Length < 2) return false;

            return parts[^1] switch
            {
                "jpg" or "jpeg" or "png" or "gif" => true,
                _ => false,
            };
        }
    }

    private string DownloadUrl
    {
        get
        {
            if (NewFileToken != null)
            {
                return $"{ApiEndpointPaths.FilesDownloadNew}?ticket={NewFileToken}";
            }

            if (SubmissionId is null)
            {
                throw new Exception("No submission ID but an existing file?");
            }

            return $"{ApiEndpointPaths.QuestionnaireSubmissionDownloadFile}?submissionId={SubmissionId.Value}&fileId={FileData.Id}";
        }
    }

}