@page "/HxLayoutTest"
@rendermode InteractiveWebAssembly

@using Namezr.Client.Shared

@layout EmptyLayout

<HxMessengerContainer/>

<div class="min-vh-100 d-flex flex-column">
    <HxNavbar CssClass="bg-body-tertiary sticky-top">
        <HxNavbarBrand>Navbar</HxNavbarBrand>
        <HxNavbarToggler/>
        <HxNavbarCollapse>
            <HxNav CssClass="me-auto mb-2 mb-lg-0">
                <HxNavLink Href="/components/HxNavbar">Home</HxNavLink>
                <HxNavLink Href="#">Link</HxNavLink>
                <HxDropdown>
                    <HxDropdownToggleElement ElementName="a" Caret="true" role="button">Dropdown
                    </HxDropdownToggleElement>
                    <HxDropdownMenu>
                        <HxDropdownItemNavLink Href="#">Action</HxDropdownItemNavLink>
                        <HxDropdownItemNavLink Href="#">Another action</HxDropdownItemNavLink>
                        <HxDropdownDivider/>
                        <HxDropdownItemNavLink Href="#">Something else here</HxDropdownItemNavLink>
                    </HxDropdownMenu>
                </HxDropdown>
                <HxNavLink Enabled="false">Disabled</HxNavLink>
            </HxNav>
            <EditForm Model="@query">
                <div class="d-flex">
                    <HxInputText CssClass="me-2" Placeholder="Search" @bind-Value="@query"/>
                    <HxSubmit Color="ThemeColor.Success" Outline="true">Search</HxSubmit>
                </div>
            </EditForm>
        </HxNavbarCollapse>
    </HxNavbar>


    <div class="d-md-flex flex-grow-1 justify-content-stretch">
        @* Navbar start *@
        <HxSidebar CssClass="bg-primary-subtle unset-max-height">
            <HeaderTemplate>
                @*<HxSidebarBrand BrandName="NewProjectTemplate" BrandNameShort="NP"/>*@
                <HxTooltip
                    WrapperCssClass="d-block flex-grow-1"
                    Text="Select creator"
                >
                    <HxSelect
                        TItem="string"
                        TValue="string"
                        @bind-Value="@creatorId"/>
                </HxTooltip>
            </HeaderTemplate>

            <ItemsTemplate>
                <HxSidebarItem Text="Home" Href="" Icon="@BootstrapIcon.HouseDoorFill" Match="NavLinkMatch.All"/>
                <HxSidebarItem Text="Counter" Href="counter" Icon="@BootstrapIcon.PlusSquareFill"/>

                <HxSidebarItem Text="Mine (with icons)" Icon="BootstrapIcon.Person">
                    <HxSidebarItem Text="Overview" Icon="BootstrapIcon.Wallet2" Href="/components/HxSidebar/mine" Match="NavLinkMatch.All" />
                    <HxSidebarItem Text="Timesheets" Icon="BootstrapIcon.Clock" Href="/components/HxSidebar/mine/timesheets" />
                    <HxSidebarItem Text="Absences" Icon="BootstrapIcon.Exclamation" Href="/components/HxSidebar/mine/absences" />
                </HxSidebarItem>
                
                <HxSidebarItem Text="Weather" Href="weather" Icon="@BootstrapIcon.ListNested"/>
            </ItemsTemplate>

        </HxSidebar>
        @* Navbar end *@




        <div class="main flex-grow-1">
            <div class="bg-secondary-subtle p-3 border-bottom">
                <HxBreadcrumb>
                    <HxBreadcrumbItem Text="Home"/>
                    <HxBreadcrumbItem Text="Step 1"/>
                    <HxBreadcrumbItem Text="Step 2"/>
                </HxBreadcrumb>

                <div class="d-flex justify-content-between align-items-center">
                    <h2>Title</h2>
                    <div>
                        <HxButton Color="ThemeColor.Primary">Primary</HxButton>
                        <HxButton Color="ThemeColor.Secondary">Secondary</HxButton>
                    </div>
                </div>
            </div>

            <div class="p-4 bg-body-tertiary">
                Body

                <HxCard>
                    <HeaderTemplate>Header</HeaderTemplate>
                    <BodyTemplate>
                        @* <HxCardTitle>Header</HxCardTitle> *@
                        Card 1
                    </BodyTemplate>
                </HxCard>

                <HxCard>
                    <BodyTemplate>
                        Card 2
                    </BodyTemplate>
                </HxCard>

                <div class="row">
                    <div class="col">
                        <HxCard>
                            <BodyTemplate>
                                Card 1
                            </BodyTemplate>
                        </HxCard>
                    </div>

                    <div class="col">
                        <HxCard>
                            <BodyTemplate>
                                Card 2
                            </BodyTemplate>
                        </HxCard>
                    </div>

                    <div class="col">
                        <HxCard>
                            <BodyTemplate>
                                Card 3
                            </BodyTemplate>
                        </HxCard>
                    </div>
                </div>

                <div class="mt-2 row">
                    @*<div class="col-4">
                        <a href="#" class="link-underline-opacity-0">
                            <div class="w-100 p-5 border-primary bg-primary text-white">
                                Link 1
                            </div>
                        </a>
                    </div>*@

                    <div class="col-4">
                        <a href="#" class="btn btn-primary p-5 w-100">
                            Some text
                        </a>
                    </div>
                </div>

                <div
                    class="mt-2"
                    style="height: 100vh; width: 50vh; background-color: red;"
                ></div>
            </div>
            @*@Body*@

        </div>
    </div>
</div>

@* <BlazorErrorUI/> *@


@code {
    private string query = String.Empty;
    private string creatorId = String.Empty;
}