@page "/studio/{creatorId:guid}/questionnaires/{id:guid}"

@using Microsoft.AspNetCore.Components.Sections
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Namezr.Components.Layout
@using Namezr.Features.Questionnaires.Data
@using Namezr.Infrastructure.Data
@using Namezr.Client
@using Namezr.Features.Questionnaires.Components
@using Namezr.Client.Shared
@using Namezr.Components
@using Namezr.Client.Studio.Questionnaires
@using Namezr.Features.Eligibility.Components

@attribute [Authorize]
@layout StudioPageHeaderLayout

@inject IDbContextFactory<ApplicationDbContext> DbContextFactory

<PageTitle>
    <StaticTruncatedText Text="@_questionnaire?.Title" MaxLength="25"/>
    <StudioTitleSuffix/>
</PageTitle>

<SectionContent SectionId="StudioPageHeaderLayout.BreadcrumbSectionId">
    <HxBreadcrumb>
        @if (_questionnaire is not null)
        {
            <QuestionnaireBreadcrumbs
                Questionnaire="_questionnaire"
            />
        }
    </HxBreadcrumb>
</SectionContent>

<SectionContent SectionId="StudioPageHeaderLayout.TitleSectionId">
    @_questionnaire?.Title
</SectionContent>

<SectionContent SectionId="StudioPageHeaderLayout.ButtonsSectionId">
    <a
        href="/studio/@CreatorId.NoHyphens()/questionnaires/@Id.NoHyphens()/selection"
        class="btn btn-secondary">
        Selection
    </a>
    <a
        href="/studio/@CreatorId.NoHyphens()/questionnaires/@Id.NoHyphens()/edit"
        class="btn btn-primary">
        Edit
    </a>
</SectionContent>

@* TODO: description somewhere *@

@if (_questionnaire is not null)
{
    /* TODO: nice labels */
    <table class="table table-striped">
        <tr>
            <th>Approval mode</th>
            <td>@_questionnaire.ApprovalMode</td>
        </tr>

        <tr>
            <th>Submission open mode</th>
            <td>@_questionnaire.SubmissionOpenMode</td>
        </tr>
    </table>

    <h4>Eligibility</h4>

    <StudioEligibilityTable
        CreatorId="CreatorId"
        Configuration="_questionnaire.EligibilityConfiguration"
    />

    <hr class="my-4"/>

    <QuestionnaireFieldsOverview
        Versions="QuestionnaireEntityToFormMapper.MapToOverview(_questionnaire.Versions ?? [])"
    />

    <hr class="my-4"/>

    <div class="d-flex justify-content-between align-items-center">
        <h4>Latest updated submissions</h4>

        <div>
            <a href="/studio/@CreatorId.NoHyphens()/questionnaires/@Id.NoHyphens()/submissions"
               class="btn btn-primary">
                View all
            </a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>User</th>
            <th>Submitted</th>
            <th>Is approved</th>
            <th>Questionnaire version</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        @foreach (QuestionnaireSubmissionEntity submission in _lastUpdatedSubmissions)
        {
            <tr>
                <td>
                    #@submission.Number
                </td>
                <td>
                    <a href="@($"/studio/{CreatorId.NoHyphens()}/supporters/users/{submission.User.Id.NoHyphens()}")">
                        @submission.User.UserName
                    </a>
                </td>
                <td>
                    <RelativeTime Value="submission.SubmittedAt.ToDateTimeOffset()"/>
                </td>
                <td>
                    <YesNoBadge Value="@(submission.ApprovedAt != null)"/>
                </td>
                <td>
                    @submission.Version.CreatedAt.ToDateTimeOffset().ToString("dd/MM/yyyy HH:mm")
                </td>
                <td>
                    <a href="/studio/@CreatorId.NoHyphens()/questionnaires/@Id.NoHyphens()/submissions/@submission.Id.NoHyphens()"
                       class="btn btn-primary">
                        View
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {

    [CascadingParameter]
    public required IStudioPageContext StudioContext { get; set; }

    [Parameter]
    public Guid CreatorId { get; set; }

    [Parameter]
    public Guid Id { get; set; }

    private QuestionnaireEntity? _questionnaire;
    private QuestionnaireSubmissionEntity[] _lastUpdatedSubmissions = [];

    protected override async Task OnInitializedAsync()
    {
        await StudioContext.SetCurrentCreatorAndValidateAccess(CreatorId);

        await using ApplicationDbContext dbContext = await DbContextFactory.CreateDbContextAsync();

        _questionnaire = await dbContext.Questionnaires
            .AsNoTracking()
            .AsSplitQuery()
            .Where(q => q.Id == Id && q.CreatorId == CreatorId)
            .Include(x => x.EligibilityConfiguration).ThenInclude(x => x.Options)
            .Include(x => x.Versions!).ThenInclude(x => x.Fields!).ThenInclude(x => x.Field)
            .FirstOrDefaultAsync();

        // TODO: 404 if not found

        _lastUpdatedSubmissions = await dbContext.QuestionnaireSubmissions
            .Include(s => s.User)
            .Include(s => s.Version)
            .Where(s => s.Version.QuestionnaireId == Id)
            .OrderByDescending(submission => submission.History!
                .Where(entry =>
                    !(entry is SubmissionHistoryStaffViewedEntity) &&
                    !(entry is SubmissionHistoryFileDownloadedEntity)
                )
                // No need to also check SubmittedAt - it will be covered by SubmissionHistoryInitialSubmitEntity
                .Max(entry => entry.OccuredAt)
            )
            .Take(MaxLatestSubmissionsToDisplay)
            .ToArrayAsync();
    }

    private const int MaxLatestSubmissionsToDisplay = 5;

}