@using Microsoft.AspNetCore.Authentication

<form class="form-horizontal" action="@ActionUrl" method="post">
    <AntiforgeryToken/>
    <input type="hidden" name="ReturnUrl" value="@ReturnUrl"/>

    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column align-items-stretch flex-grow-1 gap-2" style="max-width: 20rem;">
            @foreach (AuthenticationScheme provider in ExternalLogins)
            {
                <button
                    type="submit" class="btn btn-outline-light" name="provider" value="@provider.Name"
                    title="Log in using your @provider.DisplayName account"
                >
                    <AuthSchemeLogo Scheme="provider"/>
                    @provider.DisplayName
                </button>
            }
        </div>
    </div>
</form>

@code {

    [Parameter]
    public string ActionUrl { get; set; } = string.Empty;

    [Parameter]
    public ICollection<AuthenticationScheme> ExternalLogins { get; set; } = [];

    [Parameter]
    public string? ReturnUrl { get; set; }

}